@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Heads
{
    <link href="~/assets/css/fonts.css" rel="stylesheet" />
    <link href="~/assets/css/businesscards.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12">
        <h3>SmartASS Business Card Templates</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h5>Business Card 1</h5>
                <div class="row business-card" style="min-height: 400px">
                    <div class="col-md-4" style="background-color: white;">
                        <img src="~/assets/images/SmartASSLogoH.PNG" class="justify-content-center center" style="margin-top: 30px; max-height: 200px; max-width: 200px;" />
                        <img src="~/assets/images/User.PNG" class="rounded-circle center" width="200" style="margin-top: 10px; margin-bottom: 20px; max-height: 200px; max-width: 200px; height: 200px; width: 200px;" />
                    </div>
                    <div class="col-md-8" style="background-color: #008C8D; padding: 30px 30px 20px 30px">
                        <div style="font-size: 40px; color: white; font-family:BebasNeue-Bold"><strong>YORAY NARAINPERSAD</strong></div>
                        <div style="font-size: 20px; color: white; font-family: BebasNeue-Regular; margin-top: -10px;"><strong>Managing Director</strong></div>
                        <hr style="background-color: white" />
                        <div class="row">
                            <div class="col-md-6">
                                <h2 style="color: white; font-family: BebasNeue-Regular;margin-top: 10px">CONTACT</h2>
                                <div style="font-size: 20px; color: white; font-family: BebasNeue-Book"><i class="fas fa-phone-alt"></i><span> 087 490 1013</span></div>
                                <div style="font-size: 20px; color: white; font-family: BebasNeue-Book"><i class="fas fa-mobile-alt"></i><span> &nbsp;&nbsp;083 799 1899</span></div>
                                <div style="font-size: 20px; color: white; font-family: BebasNeue-Book"><i class="fas fa-envelope"></i><span> yoray@ffrwd.co.za</span></div>
                                <div style="font-size: 20px; color: white; font-family: BebasNeue-Book"><i class="fas fa-globe"></i><span> www.ffrwd.co.za</span></div>
                            </div>
                            <div class="col-md-6">
                                <h2 style="color: white; font-family: BebasNeue-Regular;margin-top: 10px"><i class="fas fa-map-marker-alt"></i>ADDRESS</h2>
                                <div style="font-size: 20px; color: white; font-family: BebasNeue-Book"><span>Fancourt Office Park,</span></div>
                                <div style="font-size: 20px; color: white; font-family: BebasNeue-Book"><span>Loft 4, 9 Felstead Avenue</span></div>
                                <div style="font-size: 20px; color: white; font-family: BebasNeue-Book"><span>Northriding, Gauteng. 2181</span></div>
                            </div>
                        </div>
                        <div class="row">
                            @* Social Media Icons Here *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 30px">
            <div class="col-md-8">
                <h5>Business Card 2</h5>
                <div class="row business-card" style="min-height: 400px">
                    <div class="col-md-4" style="background-color: #008C8D;">
                        <img src="~/assets/images/User.PNG" class="rounded-circle center" width="200" style="margin-top: 40px; margin-bottom: 20px; max-height: 200px; max-width: 200px; height: 200px; width: 200px;" />
                        <div style="font-size: 34px; color: white; font-family:BebasNeue-Bold"><strong>YORAY NARAINPERSAD</strong></div>
                        <div style="font-size: 18px; color: white; font-family: BebasNeue-Regular; margin-top: -10px;"><strong>Managing Director</strong></div>
                    </div>
                    <div class="col-md-8" style="background-color: white; padding: 30px 10px 20px 30px">
                        <img src="~/assets/images/SmartASSLogoV.PNG" class="justify-content-center" style="max-height: 200px; max-width: 350px;" />
                        <hr style="background-color: #008C8D" />
                        <div class="row">
                            <div class="col-md-6">
                                <h2 style="color: #008C8D; font-family: BebasNeue-Regular;margin-top: 10px">CONTACT</h2>
                                <div style="font-size: 20px; color: #008C8D; font-family: BebasNeue-Book"><i class="fas fa-phone-alt"></i><span> 087 490 1013</span></div>
                                <div style="font-size: 20px; color: #008C8D; font-family: BebasNeue-Book"><i class="fas fa-mobile-alt"></i><span> &nbsp;&nbsp;083 799 1899</span></div>
                                <div style="font-size: 20px; color: #008C8D; font-family: BebasNeue-Book"><i class="fas fa-envelope"></i><span> yoray@ffrwd.co.za</span></div>
                                <div style="font-size: 20px; color: #008C8D; font-family: BebasNeue-Book"><i class="fas fa-globe"></i><span> www.ffrwd.co.za</span></div>
                            </div>
                            <div class="col-md-6">
                                <h2 style="color: #008C8D; font-family: BebasNeue-Regular;margin-top: 10px"><i class="fas fa-map-marker-alt"></i>ADDRESS</h2>
                                <div style="font-size: 20px; color: #008C8D; font-family: BebasNeue-Book"><span>Fancourt Office Park,</span></div>
                                <div style="font-size: 20px; color: #008C8D; font-family: BebasNeue-Book"><span>Loft 4, 9 Felstead Avenue</span></div>
                                <div style="font-size: 20px; color: #008C8D; font-family: BebasNeue-Book"><span>Northriding, Gauteng. 2181</span></div>
                            </div>
                        </div>
                        <div class="row">
                            @* Social Media Icons Here *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>