
@{
    ViewBag.Title = "Statistics";
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">Statistics</h3>
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Statistics</li>
        </ol>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <h4 class="card-title mt-5">Group Cards</h4>
            <!-- Row -->
            <div class="card-group">
                <!-- Column -->
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="text-center text-info">Unique Views</h4>
                        <h2>1200</h2>
                        <div class="row pt-2 pb-2">
                            <!-- Column -->
                            <div class="col text-center align-self-center">
                                <div data-label="20%" class="css-bar mb-0 css-bar-primary css-bar-20"><i class="display-6 mdi mdi-account-circle"></i></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h4 class="font-weight-medium mb-0"><i class="ti-angle-up text-success"></i> <br> 12056</h4>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="font-weight-medium mb-0"><i class="ti-angle-down text-danger"></i> <br> 145</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="text-center text-danger">Total Views</h4>
                        <h2>1200</h2>
                        <div class="row pt-2 pb-2">
                            <!-- Column -->
                            <div class="col text-center align-self-center">
                                <div data-label="20%" class="css-bar mb-0 css-bar-danger css-bar-20"><i class="display-6 mdi mdi-star-circle"></i></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h4 class="font-weight-medium mb-0"><i class="ti-angle-up text-success"></i> <br> 21456</h4>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="font-weight-medium mb-0"><i class="ti-angle-down text-danger"></i> <br> 145</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="text-center text-cyan">Bounce rate</h4>
                        <h2>1200</h2>
                        <div class="row pt-2 pb-2">
                            <!-- Column -->
                            <div class="col text-center align-self-center">
                                <div data-label="20%" class="css-bar mb-0 css-bar-success css-bar-20"><i class="display-6 mdi mdi-briefcase-check"></i></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h4 class="font-weight-medium mb-0"><i class="ti-angle-up text-success"></i> <br> 12465</h4>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="font-weight-medium mb-0"><i class="ti-angle-down text-danger"></i> <br> 145</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->