@*@model SmartASSWeb.Bll.BusinessCard*@

@*<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />*@

<div class="container card-one">
    <header>
        <div class="logo"><img src="~/assets/cards-new/template-1/images/redlaw-logo.png" /></div>
        <div class="menu-icon"><span class="fa fa-bars"></span></div>        
    </header>
    <div class="profile-pic-main">        
        <img src="~/assets/cards-new/template-1/images/profile-pic.png" />
    </div>
    <div class="name-box">
        <div class="iner">
            <h1>Jessie Jackson</h1>
            <h2>Law Practitioner<br /> Red Law </h2>
        </div>
    </div>
    <div class="social-links">
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-phone-square icons"></span>
                <p>Call</p>
            </div>
        </a>
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-globe icons"></span>
                <p>Website</p>
            </div>
        </a>
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-whatsapp icons"></span>
                <p>Email</p>
            </div>
        </a>
    </div>
    <div class="name-box">
        <div class="iner">
            <p>64 Harvey Street<br /> Jacksonville Beach, FL 32250
        </div>
    </div>
    <footer>
        <div class="social-list">
            <a href="#"><span class="fa fa-user"></span></a>
            <a href="#"><span class="fa fa-star-o"></span></a>
            <a href="#"><span class="fa fa-video-camera"></span></a>
            <a href="#"><span class="fa fa-map-marker"></span></a>
            <a href="#"><span class="fa fa-map-o"></span></a>
        </div>
    </footer>
</div>