@*@model SmartASSWeb.Bll.BusinessCard*@
<div class="container card-two">
    <header>
        <div class="logo">
            <a href="#">
                <img src="~/assets/cards-new/template-1/images/holley.png" />
            </a>
        </div>
    </header>
    <div class="contact-details">
        <a href="#">Download</a>
        <a href="#">Email</a>
        <a href="#">Website</a>
        <a href="#">Share</a>
    </div>
    <div class="profile-pic-main">        
        <img src="~/assets/cards-new/template-1/images/profile-pic.png" />
    </div>
    <div class="name-box">
        <div class="iner">
            <h1>Jessie Jackson</h1>
            <p>
                Sales Manager <br /> Hollys Beautician
            </p>
        </div>
    </div>
    <div class="social-links">
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-phone icons"></span>
            </div>
        </a>
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-whatsapp icons"></span>
            </div>
        </a>
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-envelope icons"></span>
            </div>
        </a>
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-google-plus icons"></span>
            </div>
        </a>
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-instagram icons"></span>
            </div>
        </a>
        <a href="#" class="link-all">
            <div class="boxes">
                <span class="fa fa-facebook-f icons"></span>
            </div>
        </a>
    </div>
    <footer>
        <div class="social-list">
            <a href="#"><span class="fa fa-user"></span></a>
            <a href="#"><span class="fa fa-star-o"></span></a>
            <a href="#"><span class="fa fa-video-camera"></span></a>
            <a href="#"><span class="fa fa-map-marker"></span></a>
            <a href="#"><span class="fa fa-map-o"></span></a>
        </div>
    </footer>
</div>