@model SmartASSWeb.ViewModels.ManagerDashboardViewModel
<!-- column -->
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Total Sales</h4>
            @*<div id="morris-line-chart"></div>
            <div id="morris-area-chart"></div>*@
            <div id="leadsRevenue-chart"></div>
        </div>
    </div>
</div>
<!-- column -->
<!-- column -->
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Leads by Team Members</h4>
            <div id="stacked-bar" style="height:400px;width:100%"></div>
        </div>
    </div>
</div>
<!-- column -->
<!-- column -->
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Leads Per Industry</h4>
            <div id="bar-basic" style="height:400px;width:100%"></div>
        </div>
    </div>
</div>
<!-- column -->
<!-- column -->
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Total Closed Leads for Period</h4>
            <div id="leadForPeriod-chart"></div>
        </div>
    </div>
</div>
<!-- column -->