@model IEnumerable<SmartASSWeb.Bll.Lead>
@{
    ViewBag.Title = "Complete Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Heads
{
    <link href="~/assets/css/package-center.css" rel="stylesheet" />
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">Complete Payment</h3>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Complete Payment</li>
        </ol>
        <div class="text-muted">Payment Result.</div>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-block">

    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <h1 class="text-success">Congratulations, you are now a subscribed member of Smart Ass!</h1>
</div>

@section scripts
{
    <script>

    </script>
}